<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <thead>
        <th>ID</th>
        <th>Title</th>
        <th>Discription</th>
        <th>ReleasedYear</th>
        </thead>

        <tbody>
            <tr th:each="movie : ${movieList}">
                <td th:text="${movie.id}"></td>
                <td th:text="${movie.title}"></td>
                <td th:text="${movie.description}"></td>
                <td th:text="${movie.releasedYear}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>